
body {
    background: #9d695a;
    /*background:linear-gradient(180deg,#FFCCCC,#CCFFFF);*/
    margin:0;


}

/*#whole-wrapper {
  display: flex;
  flex-flow: column wrap;
} */

/*This is for the title area at top of page */

.title-area {
    display: flex;
    justify-content: space-around;
    align-items:center ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin:1em;
}

.title-area > img {
  border:1px solid white;
  max-width: 25%;
  border-radius:50%;
  height: auto;
  margin-left: 0;
}


/* Style for the nav bar */
.top-nav {
    background-color: #d496a7;
    overflow:hidden;
    border-radius:10px;
    margin:1em;
    margin-top:-1em;
    border:1px solid white
}

/* Styles the links inside the nav bar */

.top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 17px;

}

/* Changes the color of links when mouse hovers */
.top-nav a:hover {
    background-color: rgb(206,110,150);
    color:rgb(245, 237, 240);
}

/* Adds color to the active link */
.top-nav a.active {
    color:white;
}


.main-div {
  display: flex;
  flex-direction:row;
  align-items: center;
  align-items: stretch;
}



.info-section {
    display: flex;
    background-color: #d496a7;
    border:solid white 3px;
    border-radius: 20px;
    margin-top:5px;
    margin: 1em;
    text-align:center;
    align-items:center;
    padding:10px;
    font-size: 18px;
    margin-right: auto;
    margin-left:auto;
    width: 50vw;

}

.flex-form2 {
  display: flex;
  flex-flow: column wrap;
  background-color: #d496a7;
  border:solid white 3px;
  border-radius: 20px;
  margin-top:5px;
  margin: 1em;
  text-align:center;
  align-items:center;
  padding:10px;
  font-size: 18px;
  margin-right: auto;
  margin-left:auto;
  width: auto;
}

 div.info-section ::first-letter{
    font-size: 2em;
}

/* This is for the form */

.form-wrapper {
  display: flex;
  padding: 2em;
  justify-content:space-between;
}
.flex-form {
    background:#d496a7;
    align-items: center;
    text-align: center;
    flex-flow: column wrap;
    margin-top: -1em;
    margin-left: auto;
    margin-right:auto;
    border-radius: 25px;
    border: solid white .3em;
    padding:15px;
    box-shadow: -24px -16px 6px -4px  rgba(0, 0, 0, .75) ;
    width: 50vw;


}



.label {
    display: inline-block;
}



/* This creates a block button for users to click to submit */
/*Add this to bottom of form */
.block-button {
    display:inline-block;
    border: solid;
    border-radius: 15px;
    background-color: #FFCCCC;
    padding: 1em 2em;
    font-size: 16px;
    cursor: pointer;
    text-align:center;
    margin-left:auto ;
    margin-right: auto;
}
.block-button:hover {
    animation-name:'colors';
    animation-duration:2s;
    animation-fill-mode:forwards; /*Keeps last color in animation*/
}

@keyframes colors {
    0% {
        background-color:pink;
    }
    50% {
        background-color:#CCFFFF;
    }
    100% {
        background-color: rgb(250,208,124);
    }
}


/**** #### MOBILE ### */
